#name {
	background-color: blue;
	display: inline-block;
	width: 100%;
}
#signInButton {
	color:white;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 20px;
	float: left;
}
#cart {
	color: white;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
}
#cartIcon {
	height: 30px;
	width: 30px;
}